/******************************************************************************
 * Squarespace Block Spacing
*******************************************************************************/

// Need to separate page sqs-layout from footer sqs-layout stylings
// Need a good hook for multi-column page sqs-layout conditions
.cms {
    [class*="sqs-col"] {
        // Block content
        .sqs-block-map,
        .sqs-block-html,
        .sqs-block-form,
        .sqs-block-button {
            .sqs-block-content {
                @include wrap-copy();
                }
        }
        .sqs-block-quote {
            .sqs-block-content {
                @include wrap-quote();
                }
        }
        // Multi-column rows in main-content
        .sqs-block + .sqs-row {
            @include wrap-row();
            }
        // Media padding
        .sqs-block-video,
        .sqs-gallery-container,
        .sqs-gallery-controls,
        .sqs-block-image .figure:not( .-stretch ) {
            @include wrap-media();
            }
    }
}

// SQS Resets
.sqs-row {
    margin: 0 !important;
    }
.sqs-row + .sqs-block,
.sqs-block + .sqs-row,
.sqs-layout + .sqs-layout {
    margin-top: $expander-one;
    }
[class*=sqs-col] {
    display: inline-block;
    float: none !important;
    padding: 0 !important;
    vertical-align: top;
}
[class*="sqs-col"] {
    .sqs-block {
        padding-bottom: 0 !important;
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
        }
}
[class*="sqs-col"].sqs-col-1,
[class*="sqs-col"].sqs-col-12 {
    .sqs-block-content {
        margin-left: 0;
        margin-right: 0;
        }
}

// Block typography
.sqs-block {
    h1 {
        @include h1();
        }
    h2 {
        @include h2();
        }
    h3 {
        @include h3();
        }
    h1,
    h2,
    h3 {
        strong {
            @include b();
            }
    }


    em {
        @include b();
        }


    ol,
    ul {
        @include li();

        strong {
            @include b();
            }
    }
    ol li {
        @include ol-li();
        }
    ul li {
        @include ul-li();
        }


    p {
        @include p();

        strong {
            @include b();
            }
    }


    p + p,
    p + ul,
    p + ol,
    p + h1,
    p + h2,
    p + h3,

    ul + p,
    ul + ul,
    ul + ol,
    ul + h1,
    ul + h2,
    ul + h3,

    ol + p,
    ol + ol,
    ol + ul,
    ol + h1,
    ol + h2,
    ol + h3,

    h1 + p,
    h1 + ul,
    h1 + ol,
    h1 + h1,
    h1 + h2,
    h1 + h3,

    h2 + p,
    h2 + ul,
    h2 + ol,
    h2 + h1,
    h2 + h2,
    h2 + h3,

    h3 + p,
    h3 + ul,
    h3 + ol,
    h3 + h1,
    h3 + h2,
    h3 + h3 {
        @include pp();
        }


    p,
    li {
        a {
            @include a();
            }
    }

    blockquote {
        @include q();
        color: $green-dark;
    }
    blockquote + figcaption {
        @include m();
        padding-top: $expander-mobile / 2;
        }
}

// Footer block
#footer-blocks {
    .sqs-block {
        p {
            @include m();
            }
    }
    .sqs-svg-icon--list {}
    .sqs-svg-icon--wrapper:first-child {
        margin-left: 0 !important;
        }
    .sqs-svg-icon--wrapper + .sqs-svg-icon--wrapper {
        margin-left: 10px !important;
        }
    .sqs-svg-icon--wrapper {
        transition: background-color $base-duration $ease,
                    border-color $base-duration $ease;
        }
}

// Block Fields
#page-58c1a43317bffc0ccdac4ece {
    @include wrap-copy();
}
#people-blocks,
#page-58c0e4c92994caf4c4bbc8bb {
    .sqs-gallery-design-grid {
        margin: 0 (-$expander-one) !important;
        }
    .sqs-gallery-design-grid-slide {
        .margin-wrapper {
            margin: 0 !important;
            padding-bottom: $expander-two;
            padding-left: $circle-photo-pad;
            padding-right: $circle-photo-pad;
            }
    }
    .sqs-gallery-block-grid .slide .margin-wrapper a.image-slide-anchor {
        border-radius: 100%;
        overflow: hidden;
        }
    .sqs-gallery-block-grid .slide .margin-wrapper a.image-slide-anchor img {
        width: 100% !important;
        }
    .sqs-gallery-block-grid.sqs-gallery-block-meta-only-title .margin-wrapper .image-slide-title {
        @include h3();
        margin-top: 20px;
        }
}
#block-yui_3_17_2_1_1492899785996_100777 {
    background-color: $true-black;
    color: $white;
    max-width: 100%;
    width: 100%;

    .sqs-block-content {
        padding-bottom: $expander-two - $expander-mobile;
        padding-top: $expander-two;
        }
}

#block-yui_3_17_2_1_1492364839208_29283 {
    background-color: $true-black;
    color: $white;
}

// Block specific
.sqs-block-quote {
    .sqs-block-content {
        padding-bottom: $expander-one;
        padding-top: $expander-one;
        }
    .source {
        text-align: left;
        }
}
.sqs-block-gallery {
    .sqs-gallery-design-grid-slide {
        display: inline-block;
        float: none;
        vertical-align: middle;
        }
    .sqs-gallery-controls {
        left: 0;
        position: absolute;
        top: 50%;
        transform: translateY( -50% );
        width: 100%;

        .next,
        .previous {
            margin-top: 0;
            position: relative;
            top: auto;
            }
        .next {
            float: right;
            }
        .previous {
            float: left;
            }
    }
    .sqs-gallery-block-grid .slide .margin-wrapper {
        margin-bottom: 0 !important;
        }
}
.sqs-block-map {
    .sqs-block-content.page-map {
        border: 1px solid $grey-line;
        height: 0;
        padding-bottom: 56.25%;
        }
}
.sqs-block-image {
    img {
        display: inline-block !important;
        }
}
.sqs-block-spacer {
    .sqs-block-content {
        height: $expander-mobile !important;
        }
}
.sqs-block-horizontalrule {
    hr {
        background-color: $grey-line;
        }
}
.sqs-block-video {
    .video-caption p {
        @include m();
        @include cap-pad();
        }
}
.sqs-block-form {
    form {
        color: $black;
        font-size: $m-size;
        @include font-sans-text();
        }

    span.required {
        color: $green-dark;
        }

    .form-wrapper .field-list .fields.name .field {
        width: #{"calc( ~\"50% - 10px\" )"};
        }
    .form-wrapper .field-list .fields.name .last-name {
        margin-left: $expander-mobile / 2;
        }

    .form-wrapper .field-list .field,
    .form-wrapper .field-list .fields {
        margin: 0 0 $expander-mobile / 2 0;
        }

    .form-wrapper .field-list .field .field-element,
    .form-wrapper .field-list .field .caption .field-element {
        border: 1px solid $grey-line;
        border-radius: 0;
        font-family: inherit;
        font-size: inherit;
        margin: 0;
        padding: 10px;
        -webkit-appearance: none;
        }

    .form-wrapper .field-list .fields .description,
    .form-wrapper .field-list .fields .field,
    .form-wrapper .field-list .fields .field-error {
        margin: 0;
        }

    .form-wrapper .field-list .title {
        @include btn();
        display: block;
        margin-bottom: 10px;
        margin-left: 0;
        }

    .form-wrapper input[type=submit],
    body:not(.button-style-default) .sqs-editable-button,
    body:not(.button-style-default) .sqs-editable-button-font,
    body:not(.button-style-default) .sqs-editable-button,
    body:not(.button-style-default) .sqs-editable-button-color,
    body:not(.button-style-default) .sqs-editable-button,
    body:not(.button-style-default) .sqs-editable-button-layout {
        @include btn();
        @include btn-style();
        @include btn-medium();
        border-radius: 0;
        }

    .form-wrapper .field-error {
        @include btn();
        @include btn-style();
        background-color: #cc3b3b;
        border-radius: 0;
        display: block;
        padding: 10px;
        text-transform: none;
        }

    .form-submission-text {
        @include btn();
        @include btn-style();
        @include btn-large();
        margin-top: 0;
        }
    .form-submission-text.hidden {
        display: none;
        }
}
.sqs-announcement-bar {
    background-color: $green-dark;
    background-image: url( "/assets/icons/icon--pencil.svg" );
    background-size: 16px 16px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border-radius: $logo-width;
    bottom: $expander-one;
    color: $white;
    height: $logo-width;
    left: auto !important;
    position: fixed !important;
    right: $expander-one;
    top: auto !important;
    transition: background-color $base-duration $ease,
                transform $base-duration $ease-one,
                opacity $base-duration $ease-one;
    width: $logo-width;
    z-index: $z_layer_infront !important;
    }
.sqs-announcement-bar-text {
    display: none !important;
    }



// Block states...
.is-home {
    .sqs-announcement-bar {
        opacity: 0;
        pointer-events: none;
        }
}
.is-navi-open {
    .sqs-announcement-bar {
        transform: translate3d( -$navi-width, 0, 0 );
        }
}
.is-hoverable {
    .sqs-block p a:hover,
    .sqs-block li a:hover {
        color: $green-light;
        border-bottom-color: $green-light;
        }
    .sqs-announcement-bar:hover {
        background-color: $green-light;
        }
    .form-wrapper input[type=submit]:hover,
    body:not(.button-style-default) .sqs-editable-button:hover,
    body:not(.button-style-default) .sqs-editable-button-font:hover,
    body:not(.button-style-default) .sqs-editable-button:hover,
    body:not(.button-style-default) .sqs-editable-button-color:hover,
    body:not(.button-style-default) .sqs-editable-button:hover,
    body:not(.button-style-default) .sqs-editable-button-layout:hover {
        background-color: $dark;
        }
    .social-icons-color-white.social-icons-style-border .sqs-svg-icon--wrapper:hover {
        background-color: $green-light;
        }
    .social-icons-color-white.social-icons-style-border .sqs-svg-icon--wrapper:hover {
        border-color: $green-light;
        }
}
