/******************************************************************************
 * Squarespace Block Spacing
*******************************************************************************/

// Layout handling
.sqs-layout > .sqs-row {
    margin: 0 !important;
    }

// Grid handling
[class*=sqs-col] {
    display: inline-block;
    float: none !important;
    padding: 0 !important;
    vertical-align: top;
}
[class*="sqs-col"] {
    .sqs-block-content {
        padding-left: $expander-mobile / 2;
        padding-right: $expander-mobile / 2;
        }
}
[class*="sqs-col"].sqs-col-1,
[class*="sqs-col"].sqs-col-12 {
    .sqs-block-content {
        padding-left: 0;
        padding-right: 0;
        }
}

// Block / Row handling
.sqs-block + .sqs-row,
.sqs-row + .sqs-block {
    margin-top: $expander-mobile;
    }

// Block Typography
.sqs-block {
    padding: 0 !important;

    h1 {
        @include h1();
        }
    h2 {
        @include h2();
        }
    h3 {
        @include h3();
        }
    h1,
    h2,
    h3 {
        strong {
            @include b();
            }
    }


    em {
        @include b();
        }


    ol,
    ul {
        @include li();

        strong {
            @include b();
            }
    }
    ol li {
        @include ol-li();
        }
    ul li {
        @include ul-li();
        }


    p {
        @include p();

        strong {
            @include b();
            }
    }


    p + p,
    h2 + p,
    h3 + p {
        @include pp();
        }


    p,
    li {
        a {
            border-bottom: 1px solid $green-dark;
            color: $green-dark;
            transition: color $base-duration $ease,
                        border-bottom-color $base-duration $ease;
            }
    }

    blockquote {
        @include q();
        }
    blockquote + figcaption {
        @include m();
        }
}

// Footer block
#footer-blocks {
    .sqs-svg-icon--list {
        opacity: 0.8;
        }
    .sqs-svg-icon--wrapper:first-child {
        margin-left: 0 !important;
        }
    .sqs-svg-icon--wrapper + .sqs-svg-icon--wrapper {
        margin-left: 10px !important;
        }
    .sqs-svg-icon--wrapper {
        transition: background-color $base-duration $ease,
                    border-color $base-duration $ease;
        }
}

// Block Fields
#footer-blocks,
#page-58c1a43317bffc0ccdac4ece {
    margin: 0 (-$expander-mobile / 2);
}

// Block specific
.sqs-block-quote {
    max-width: $wrap-copy;
    }
.sqs-block-map {
    border: 1px solid $grey-rule;
    max-width: $wrap-copy;
    }
.sqs-block-image {
    img {
        display: inline-block !important;
        }
}
.sqs-block-spacer {
    .sqs-block-content {
        height: $expander-mobile !important;
        }
}
.sqs-block-horizontalrule {
    hr {
        background-color: $grey-rule;
        }
}
.sqs-announcement-bar {
    background-color: $green-dark;
    background-image: url( "/assets/icons/icon--pencil.svg" );
    background-size: 16px 16px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border-radius: $logo-width;
    bottom: $expander-one;
    color: $white;
    height: $logo-width;
    left: auto !important;
    position: fixed !important;
    right: $expander-one;
    top: auto !important;
    transition: background-color $base-duration $ease,
                transform $base-duration $ease-one,
                opacity $base-duration $ease-one;
    width: $logo-width;
    z-index: $z_layer_infront !important;
    }
.sqs-announcement-bar-text {
    display: none !important;
    }
.sqs-block-form {
    form {
        color: $black;
        font-size: $m-size;
        @include font-sans-text();
        }

    span.required {
        color: $green-dark;
        }

    .form-wrapper .field-list .fields.name .field {
        width: #{"calc( ~\"50% - 10px\" )"};
        }
    .form-wrapper .field-list .fields.name .last-name {
        margin-left: $expander-mobile / 2;
        }

    .form-wrapper .field-list .field,
    .form-wrapper .field-list .fields {
        margin: 0 0 $expander-mobile / 2 0;
        }

    .form-wrapper .field-list .field .field-element,
    .form-wrapper .field-list .field .caption .field-element {
        border: 1px solid $grey-rule;
        border-radius: 0;
        font-family: inherit;
        font-size: inherit;
        margin: 0;
        padding: 10px;
        }

    .form-wrapper .field-list .fields .description,
    .form-wrapper .field-list .fields .field,
    .form-wrapper .field-list .fields .field-error {
        margin: 0;
        }

    .form-wrapper .field-list .title {
        @include btn();
        display: block;
        margin-bottom: 10px;
        margin-left: 0;
        }

    .form-wrapper input[type=submit],
    body:not(.button-style-default) .sqs-editable-button,
    body:not(.button-style-default) .sqs-editable-button-font,
    body:not(.button-style-default) .sqs-editable-button,
    body:not(.button-style-default) .sqs-editable-button-color,
    body:not(.button-style-default) .sqs-editable-button,
    body:not(.button-style-default) .sqs-editable-button-layout {
        @include btn();
        @include btn-style();
        @include btn-medium();
        }

    .form-wrapper .field-error {
        @include btn();
        @include btn-style();
        background-color: #cc3b3b;
        border-radius: 0;
        display: block;
        padding: 10px;
        text-transform: none;
        }

    .form-submission-text {
        @include btn();
        @include btn-style();
        @include btn-large();
        margin-top: 0;
        }
    .form-submission-text.hidden {
        display: none;
        }
}



// Block states...
.is-home {
    .sqs-announcement-bar {
        opacity: 0;
        pointer-events: none;
        }
}
.is-navi-open {
    .sqs-announcement-bar {
        transform: translate3d( -$navi-width, 0, 0 );
        }
}
.is-hoverable {
    .sqs-block p a:hover,
    .sqs-block li a:hover {
        color: $green-light;
        border-bottom-color: $green-light;
        }
    .sqs-announcement-bar:hover {
        background-color: $green-light;
        }
    .form-wrapper input[type=submit]:hover,
    body:not(.button-style-default) .sqs-editable-button:hover,
    body:not(.button-style-default) .sqs-editable-button-font:hover,
    body:not(.button-style-default) .sqs-editable-button:hover,
    body:not(.button-style-default) .sqs-editable-button-color:hover,
    body:not(.button-style-default) .sqs-editable-button:hover,
    body:not(.button-style-default) .sqs-editable-button-layout:hover {
        background-color: $dark;
        }
    .social-icons-color-white.social-icons-style-border .sqs-svg-icon--wrapper:hover {
        background-color: $green-light;
        }
    .social-icons-color-white.social-icons-style-border .sqs-svg-icon--wrapper:hover {
        border-color: $green-light;
        }
}
