// Homepage blocks
#homepage-blocks {
    > .sqs-row {
        position: static !important;

        .sqs-col-2 {
            width: 100% !important;
            }
    }

    .sqs-block-image {
        left: 50%;
        padding-left: $expander-mobile;
        padding-right: $expander-mobile;
        position: absolute;
        top: 50%;
        transform: translateX( -50% ) translateY( -50% );
        width: 100%;
        z-index: 1;

        .image {
            max-width: 700px;
            width: 100%;
        }
    }

    .sqs-block-button {
        padding: 0 !important;
        }

    // Buttons row...
    .sqs-block-image + .sqs-row {
        bottom: $expander-one;
        left: 50%;
        position: absolute;
        text-align: center;
        transform: translateX( -50% );
        width: 100% !important;
        z-index: 2;

        .col {
            width: auto !important;
        }

        .col .sqs-block-button {
            display: inline-block;
            vertical-align: middle;
        }

        .col .sqs-block-button + .sqs-block-button {
            margin-left: 10px;
        }

        .col .sqs-block-button .btn {
            height: 56px;
        }

        .col .sqs-block-button:nth-child(1) .btn:before {
            content: url( "/assets/icons/icon--pencil.svg" );
            display: inline-block;
            height: 16px;
            margin-right: 10px;
            vertical-align: middle;
            width: 16px;
        }

        .col .sqs-block-button:nth-child(2) .btn:before {
            content: url( "/assets/icons/icon--rocks--light.svg" );
            display: inline-block;
            height: 19px;
            margin-right: 10px;
            vertical-align: middle;
            width: 20px;
        }
    }

    // Logged in /config
    // .squarespace-damask & {
    //     display: inline-block;
    //     height: 100%;
    //     max-width: 700px;
    //     width: 100%;
    //     @include ghost();

    //     > .sqs-row {
    //         @include ghost-child();
    //         }

    //     .sqs-block-image,
    //     .sqs-block-image + .sqs-row {
    //         display: inline-block;
    //         left: auto;
    //         position: relative;
    //         top: auto;
    //         transform: none;
    //     }
    // }
}

@media screen and ( max-width: $break-laptop-medium ) {
    #homepage-blocks {
        .sqs-block-image + .sqs-row {
            bottom: $expander-mobile;
        }
    }
}

@media screen and ( max-width: $break-mobile-full ) {
    #homepage-blocks {
        .sqs-block-image + .sqs-row {
            .col .sqs-block-button {
                display: block !important;
                width: 100% !important;
            }
            .col .sqs-block-button + .sqs-block-button {
                margin-top: 10px !important;
                margin-left: 0 !important;
            }
            .col .sqs-block-button .btn {
                width: 70vw;
            }
        }
    }
}