@media only screen and ( max-width: $break-laptop-medium ) {
    .sqs-announcement-bar {
        bottom: $expander-mobile;
        right: $expander-mobile;
        }
}



@media only screen and ( max-width: $break-mobile-full ) {
    [class*=sqs-col] {
        display: block;
        width: 100% !important;
        }
    [class*=sqs-col] + [class*=sqs-col] {
        margin-top: $expander-mobile;
        }
    .sqs-block {
        h1 {
            font-size: $h2-size;
            }
    }
    .sqs-block-video {
        .video-caption p {
            @include cap-pad-small();
            }
    }
    .sqs-announcement-bar {
        right: $expander-mobile / 2;
        }
    #footer-blocks {
        .social-icon-alignment-right .sqs-svg-icon--list {
            text-align: left;
            }
    }
}
