@media only screen and ( max-width: $break-laptop-medium ) {
    .sqs-block {
        p,
        ol,
        ul {
            font-size: $p-size-small;
            }
    }
    .sqs-announcement-bar {
        bottom: $expander-mobile;
        right: $expander-mobile;
        }
    .cms {
        [class*="sqs-col"] {
            .sqs-block-video,
            .sqs-gallery-container,
            .sqs-gallery-controls,
            .newsletter-block .newsletter-form-wrapper,
            .sqs-block-image .figure:not( .-stretch ) {
                padding-left: $expander-one;
                padding-right: $expander-one;
                }
        }
    }
    #homepage-blocks {
        .sqs-block-image + .sqs-row {
            bottom: $expander-mobile;
        }
    }
}



@media only screen and ( max-width: $break-ipad-pro-width ) {
    #people-blocks,
    #page-58c0e4c92994caf4c4bbc8bb {
        .sqs-gallery-design-grid {
            margin: 0 (-$expander-mobile) !important;
            }
        .sqs-gallery-design-grid-slide {
            .margin-wrapper {
                padding-bottom: $expander-two;
                }
        }
    }
}



@media only screen and ( max-width: $wrap-copy + $expander-one + $expander-one ) {
    .cms {
        [class*=sqs-col] {
            .sqs-block-video,
            .sqs-gallery-container,
            .sqs-gallery-controls,
            .newsletter-block .newsletter-form-wrapper,
            .sqs-block-image .figure:not( .-stretch ) {
                @include wrap-media-mobile();
                }
            .sqs-gallery-block-grid,
            .sqs-gallery-design-autogrid {
                @include wrap-copy();
                }
        }
    }
}



@media only screen and ( max-width: $wrap-quote + $expander-one ) {
    .cms {
        [class*=sqs-col] {
            .sqs-block-quote {
                .sqs-block-content {
                    @include wrap-mobile();
                    }
            }
        }
    }
}



@media only screen and ( max-width: $wrap-copy + $expander-one ) {
    .cms {
        [class*=sqs-col] {
            // Block content
            .sqs-block-map,
            .sqs-block-html,
            .sqs-block-form,
            .sqs-block-button {
                .sqs-block-content {
                    @include wrap-mobile();
                    }
            }

            // Multi-column rows in main-content
            .sqs-block + .sqs-row,

            // Grid style gallery blocks
            .sqs-gallery-block-grid,
            .sqs-gallery-design-autogrid {
                @include wrap-mobile();
                }
        }
    }
}



@media only screen and ( max-width: $break-mobile-full ) {
    [class*=sqs-col] {
        display: block;
        width: 100% !important;
        }
    [class*=sqs-col] + [class*=sqs-col] {
        margin-top: $expander-mobile;
        }
    .sqs-block {
        h1 {
            font-size: $h2-size;
            }
    }
    .sqs-block-video {
        .video-caption p {
            @include cap-pad-small();
            }
    }
    .sqs-announcement-bar {
        right: $expander-mobile / 2;
        }
    .sqs-block-spacer {
        .sqs-block-content {
            height: ($expander-mobile - 10px) !important;
            }
    }
    .sqs-block-quote {
        .sqs-block-content {
            padding-bottom: $expander-mobile - 10px;
            padding-top: $expander-mobile - 10px;
            }
    }
    #homepage-blocks {
        .sqs-block-image + .sqs-row {
            .col {
                display: block !important;
                width: 100% !important;
            }
            .col:last-child {
                margin-top: 10px !important;
            }
            .col .sqs-block-button .btn {
                width: 70vw;
            }
        }
    }
    #footer-blocks {
        .social-icon-alignment-right .sqs-svg-icon--list {
            text-align: left;
            }
    }
    #people-blocks,
    #page-58c0e4c92994caf4c4bbc8bb {
        .sqs-gallery-design-grid-slide {
            width: 50% !important;
        }
        .sqs-gallery-design-grid-slide {
            .margin-wrapper {
                padding-bottom: $expander-one;
                }
        }
    }
    #block-yui_3_17_2_1_1492899785996_100777 {
        .sqs-block-content {
            padding-bottom: $expander-one;
            padding-top: $expander-one + 20px;
            }
    }
}
