/******************************************************************************
 * Icons
*******************************************************************************/
.icon {
    display: inline-block;
    line-height: 1;
    position: relative;
    text-align: center;
    vertical-align: middle;

    svg {
        transition: fill $base-duration $ease;
        width: 100%;
        }
    div {
        background-color: $true-black;
        }
}
.icon--logo {}
.icon--pencil {}
.icon--rocks {}
.icon--list {
    height: 2px;

    svg {
        fill: $true-black;
        }

    div {
        height: 2px;
        position: absolute;
        width: 100%;
        }
    div:nth-child( 1 ) {
        top: -6px;
        }
    div:nth-child( 3 ) {
        top: 6px;
        }
}
