/******************************************************************************
 * Icons
*******************************************************************************/
.icon {
    display: inline-block;
    line-height: 1;
    position: relative;
    text-align: center;
    vertical-align: middle;

    svg {
        width: 100%;
        }
    div {
        background-color: $black;
        }
}
.icon--logo {
    width: $logo-width;
    }
.icon--list {
    width: 24px;

    div {
        height: 2px;
        width: 100%;
        }
    div + div {
        margin-top: 6px;
        }
}
