/******************************************************************************
 * Button / Labels
*******************************************************************************/
.btn {
    @include btn();
    }
.btn--small,
.btn--medium,
.btn--large {
    @include btn-style();
    }
.btn--large {
    @include btn-large();
    }
.btn--medium {
    @include btn-medium();
    }
.btn--small {
    @include btn-small();
    }
.btn__icon {
    margin-right: 10px;
    width: 20px;

    svg {
        fill: $white;
        }
}
.btn__icon,
.btn__text {
    display: inline-block;
    vertical-align: middle;
    }



/******************************************************************************
 * Meta
*******************************************************************************/
.meta {
    @include m();

    a {
        border-bottom: 1px solid $green-dark;
        color: $green-dark;
        transition: color $base-duration $ease,
                    border-bottom-color $base-duration $ease;
        }
    }



/******************************************************************************
 * Emphasis
*******************************************************************************/
.em {
    @include b();
    }



/******************************************************************************
 * Paragraphs
*******************************************************************************/
.p {
    @include p();
    }



/******************************************************************************
 * Links
*******************************************************************************/
// .a {
//     @include a();
//     }



/******************************************************************************
 * Headlines
*******************************************************************************/
.h1,
.h2,
.h3 {
    strong {
        @include b();
        }
}

.h1 {
    @include h1();
    }
.h2 {
    @include h2();
    }
.h3 {
    @include h3();
    }
