.navi,
.page,
.header,
.footer {
    transition: transform $base-duration $ease-one;
    }

/******************************************************************************
 * Header / Footer
*******************************************************************************/
.header {
    left: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: $z_layer_infront;
    }
.header__logo {
    display: block;
    pointer-events: auto;
    width: $logo-width;
    }
.footer {
    background-color: $black;
    color: $white;
    padding-bottom: $expander-two;
    padding-top: $expander-one;
    }

/******************************************************************************
 * Navigation
*******************************************************************************/
.navi {
    position: fixed;
    right: 0;
    top: 0;
    text-align: right;
    z-index: $z_layer_infront;
    }
.navi__a,
.navi__sub__a {
    display: inline-block;
    padding: 10px 0;
    transition: color $base-duration $ease;

    &.is-active {
        color: $green-light;
        }
    }
.navi__sub__a {
    color: inherit;
    padding: 5px 0;
    }
.navi__ul {
    margin-top: -10px;
    }
.navi__sub {
    overflow: hidden;
    transition: height $base-duration $ease;

    &.is-determined {
        height: 0;
        }
    }
.navi-controller {
    background-color: $true-black;
    border-radius: $logo-width;
    cursor: pointer;
    display: inline-block;
    height: $logo-width;
    pointer-events: none;
    text-align: center;
    transition: background-color $base-duration $ease;
    visibility: hidden;
    width: $logo-width;

    .icon--list {
        width: $icon-list-width;

        div {
            background-color: $white;
            transition: background-color $base-duration $ease;
            }
    }
}

/******************************************************************************
 * Content container
*******************************************************************************/
.main {
    background-color: $black;
    // height: 100%;
    // overflow: auto;
    }
.page {
    background-color: $white;
    position: relative;
    width: 100%;
    transition: opacity $base-duration $ease,
                transform $base-duration $ease-one;

    &.is-inactive {
        opacity: 0;
        }
    }

/******************************************************************************
 * CMS content
*******************************************************************************/
.cms {
    text-align: center;
    }

/******************************************************************************
 * Articles ( item )
*******************************************************************************/
.article {}
.article__header {
    background-color: $black;
    }
.article__body {}
.crumb {
    background-color: $black;
    // border-bottom: 1px solid $grey-line;
    // margin-bottom: $expander-mobile;
    padding-bottom: $expander-mobile / 2;
    padding-top: $expander-mobile / 2;
    width: 100%;
}
.crumb__li {
    display: inline-block;
    vertical-align: middle;
    }
.crumb__li + .crumb__li {
    &:before {
        content: "/";
        padding-left: 10px;
        padding-right: 10px;
        }
}

/******************************************************************************
 * Location tile
*******************************************************************************/
.tile {}
.tile__wrap {
    display: block;
    position: relative;
    }
.tile + .tile {
    margin-top: $expander-one;
    }
.tile__screen {
    height: 100%;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX( -50% ) translateY( -50% );
    width: 100%;
    }
.tile__content {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    }
.tile__image {}
.tile__cover {
    padding-bottom: 41.875%;
    }

/******************************************************************************
 * Overlays
*******************************************************************************/
.screen {
    background-color: $white;
    bottom: 0;
    left: 0;
    opacity: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    position: fixed;
    right: 0;
    top: 0;
    transition: opacity $base-duration $ease,
                z-index $base-duration $ease,
                visibility $base-duration $ease;
    visibility: hidden;
    z-index: $z_layer_behind;

    &.is-active {
        opacity: 1;
        visibility: visible;
        z-index: $z_layer_infront;
        -webkit-overflow-scrolling: touch;
        }
    }
.screen--dark {
    background-color: $black;
    }
.intro {}
.intro__logo {
    svg {
        fill: $white;
        }
    .icon--logo {
        width: $logo-width * 2;
        }
}
.overlay {
    background-color: rgba( 39, 39, 39, 0.65 );
    background-image: url( "/assets/images/texture.png" );
    background-repeat: repeat;
    transition: background-color $base-duration $ease;
    }

/******************************************************************************
 * Banner masthead
*******************************************************************************/
.cover {
    height: 100vh;
    position: relative;
    width: 100vw;
    }
.cover--banner {
    height: 60vh;
    }
.cover__bg,
.cover__screen {
    height: 100%;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX( -50% ) translateY( -50% );
    width: 100%;
    }
.cover__bg {
    overflow: hidden;
    }
.cover__content {
    position: relative;
    }
.cover__cta {
    margin-top: $expander-mobile / 2;
    }
.cover__blocks {
    .image {
        height: 70vh;
        width: auto;
        }
    .btn {
        background-image: url( "/assets/icons/icon--pencil.svg" );
        background-size: 16px 16px;
        background-position: ($expander-mobile / 2) 50%;
        background-repeat: no-repeat;
        padding-left: $expander-mobile + 10px;
        }
}
.cover__title {
    transition: color $base-duration $ease;
    }

/******************************************************************************
 * Fullscreen video
*******************************************************************************/
.videofs {
    height: 100%;
    position: relative;
    width: 100%;
    }
.videofs__node {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX( -50% ) translateY( -50% );
    }

/******************************************************************************
 * Gridwall
*******************************************************************************/
.gridwall {
    padding-left: $expander-one;
    padding-right: $expander-one;
    }
.gridwall__item {
    margin-bottom: $expander-one;
    }
.gridwall__block {
    padding-left: $circle-photo-pad;
    padding-right: $circle-photo-pad;
    }
.gridwall__title {
    padding-left: $expander-mobile / 2;
    padding-right: $expander-mobile / 2;
    padding-top: $expander-mobile / 2;
    transition: color $base-duration $ease;
    }
.gridwall__image {
    transition: transform $base-duration $ease;
    }

/******************************************************************************
 * Carousel
*******************************************************************************/
.carousel {}
.carousel__item,
.carousel__items {
    height: 100%;
    }
.carousel__items {
    position: relative;
    }
.carousel__item {
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity $base-duration $ease;
    width: 100%;
    z-index: $z_layer_behind;

    &.is-active {
        opacity: 1;
        position: relative;
        z-index: 2;
        }
    &.is-exiting {
        opacity: 0;
        position: absolute;
        z-index: 2;
        }
    &.is-entering {
        opacity: 1;
        position: relative;
        z-index: 1;
        }
}
.carousel__navis {
    height: $logo-width;
    left: 0;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translateY( -50% );
    width: 100%;
    z-index: 2;
    }
.carousel__navi {
    background-color: $black;
    cursor: pointer;
    height: $logo-width;
    opacity: 0.5;
    pointer-events: auto;
    position: absolute;
    transition: opacity $base-duration $ease;
    width: $logo-width / 2;
    }
.carousel__prev {
    left: 0;

    &:before {
        content: "\e02c";
        transform: translateX( -50% ) translateY( -50% );
        }
    }
.carousel__next {
    right: 0;

    &:before {
        content: "\e02d";
        transform: translateX( -50% ) translateY( -50% );
        }
    }
.carousel__prev,
.carousel__next {
    &:before {
        color: $white;
        display: inline-block;
        font-family: "squarespace-ui-font";
        font-size: 18px;
        font-style: normal;
        font-weight: normal;
        left: 50%;
        position: absolute;
        speak: none;
        text-align: center;
        top: 50%;
        vertical-align: middle;
        -webkit-font-smoothing: antialiased;
        }
    }
.carousel__indexes {
    bottom: 0;
    left: 0;
    padding-bottom: $expander-mobile;
    pointer-events: none;
    position: absolute;
    width: 100%;
    z-index: 2;
    }
.carousel__index {
    background-color: $white;
    border-radius: $dot-width;
    cursor: pointer;
    display: inline-block;
    height: $dot-width;
    pointer-events: auto;
    width: $dot-width;

    &.is-active {
        background-color: $green-light;
        }
    }
.carousel__index + .carousel__index {
    margin-left: $expander-mobile / 4;
    }

/******************************************************************************
 * Tabs
*******************************************************************************/
.tabs {}
.tabs__labels {
    transform: translateY( -100% );

    &:after {
        background-color: white;
        bottom: -1px;
        content: "";
        height: 1px;
        left: 0;
        position: absolute;
        width: 100%;
        }
}
.tabs__label {
    background-color: transparent;
    border-left: 1px solid rgba( 255, 255, 255, 0.25 );
    border-top: 1px solid rgba( 255, 255, 255, 0.25 );
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 25%;

    &:last-child {
        border-right: 1px solid rgba( 255, 255, 255, 0.25 );
        }

    &.is-active {
        background-color: $white;
        border-color: $white;
        color: $green-light;
        }

    &.is-active + .tabs__label {
        border-left-color: transparent;
        }
}
.tabs__contents {
    position: relative;
    }
.tabs__content {
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity $base-duration $ease;
    width: 100%;
    z-index: $z_layer_behind;

    &.is-active {
        opacity: 1;
        position: relative;
        z-index: 2;
        }
    &.is-exiting {
        opacity: 0;
        position: absolute;
        z-index: 2;
        }
    &.is-entering {
        opacity: 1;
        position: relative;
        z-index: 1;
        }
    }
