.navi,
.page,
.header,
.footer {
    transition: transform $base-duration $ease-one;
    }
.header {
    left: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: $z_layer_infront;
    }
.header__logo {
    display: block;
    pointer-events: auto;
    width: $logo-width;
    }
.footer {
    padding-bottom: $expander-two;
    padding-top: $expander-one;
    }
.navi {
    position: fixed;
    right: 0;
    top: 0;
    text-align: right;
    z-index: $z_layer_infront;
    }
.navi__a,
.navi__sub__a {
    display: inline-block;
    padding: 10px 0;
    transition: color $base-duration $ease;

    &.is-active {
        color: $green-light;
        }
    }
.navi__sub__a {
    color: inherit;
    padding: 5px 0;
    }
.navi__ul {
    margin-top: -10px;
    }
.navi__sub {
    height: 0;
    overflow: hidden;
    transition: height $base-duration $ease;
    }
.navi-controller {
    background-color: $black;
    border-radius: $logo-width;
    cursor: pointer;
    display: inline-block;
    height: $logo-width;
    pointer-events: none;
    text-align: center;
    transition: background-color $base-duration $ease;
    visibility: hidden;
    width: $logo-width;

    .icon--list {
        width: $icon-list-width;

        div {
            background-color: $white;
            transition: background-color $base-duration $ease;
            }
    }
}
.main {
    background-color: $black;
    // height: 100%;
    // overflow: auto;
    }
.page {
    background-color: $white;
    position: relative;
    width: 100%;
    transition: opacity $base-duration $ease,
                transform $base-duration $ease-one;

    &.is-inactive {
        opacity: 0;
        }
    }
.cms {}
.article {}
.article__header {
    background-color: $black;
    }
.article__body {}
.crumb {
    position: absolute;
    bottom: $expander-mobile;
    width: 100%;
}
.crumb__li {
    display: inline-block;
    vertical-align: middle;
    }
.crumb__li + .crumb__li {
    &:before {
        content: "/";
        padding-left: 10px;
        padding-right: 10px;
        }
}
.tile {
    display: block;
    position: relative;
    }
.tile + .tile {
    margin-top: $expander-one;
    }
.tile__screen {
    height: 100%;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX( -50% ) translateY( -50% );
    width: 100%;
    }
.tile__content {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    }
.footer {
    background-color: $black;
    color: $white;
    }
.intro {}
.intro__logo {
    svg {
        fill: $white;
        }
    .icon--logo {
        width: $logo-width * 2;
        }
}
.cover {
    height: 100vh;
    position: relative;
    width: 100vw;
    }
.cover--banner {
    height: 60vh;
    }
.cover__bg,
.cover__screen {
    height: 100%;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX( -50% ) translateY( -50% );
    width: 100%;
    }
.cover__bg {
    overflow: hidden;
    }
.cover__content {
    position: relative;
    }
.cover__blocks {
    .image {
        height: 70vh;
        width: auto;
        }
    .btn {
        background-image: url( "/assets/icons/icon--pencil.svg" );
        background-size: 16px 16px;
        background-position: ($expander-mobile / 2) 50%;
        background-repeat: no-repeat;
        padding-left: $expander-mobile + 10px;
        }
}
.overlay {
    background-color: rgba( 39, 39, 39, 0.75 );
    background-image: url( "/assets/images/texture.png" );
    background-repeat: repeat;
    transition: background-color $base-duration $ease;
    }
.videofs {
    height: 100%;
    position: relative;
    width: 100%;
    }
.videofs__node {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX( -50% ) translateY( -50% );
    }
