.navi,
.header,
.footer {
    transition: transform $base-duration $ease-one;
    }
.header {
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: $z_layer_infront - 1;
    }
.navi {
    position: fixed;
    right: 0;
    top: 0;
    text-align: right;
    z-index: $z_layer_infront;
    }
.navi__a {
    padding: 10px 0;
    }
.navi__li:first-child .navi__a {
    padding-top: 0;
    }
.navi-controller {
    cursor: pointer;
    pointer-events: none;
    visibility: hidden;
    }
.main {
    overflow: hidden;
    position: relative;
    width: 100%;
    transition: opacity $base-duration $ease,
                transform $base-duration $ease-one;

    &.is-inactive {
        opacity: 0;
        }
    }
.footer {
    background-color: $black;
    color: $white;
}
.intro {}
.intro__logo {
    svg {
        fill: $white;
        }
    }
.cover {
    height: 100vh;
    position: relative;
    width: 100vw;
    }
.cover__bg {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    }
.cover__screen {
    background-color: rgba( 0, 0, 0, 0.75 );
    background-image: url( "/assets/images/texture.png" );
    background-repeat: repeat;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    }
.cover__blocks {
    .image {
        max-width: 50%;
        width: 50%;
        }
    .btn {
        background-image: url( "/assets/icons/icon--pencil.svg" );
        background-size: 16px 16px;
        background-position: ($expander-mobile / 2) 50%;
        background-repeat: no-repeat;
        padding-left: $expander-mobile + 10px;
        }
}
.videofs {
    height: 100%;
    position: relative;
    width: 100%;
    }
.videofs__node {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX( -50% ) translateY( -50% );
    }
