/******************************************************************************
 * Fonts: Util
*******************************************************************************/
@mixin font-normal() {
    font-stretch: normal;
    font-style: normal;
}



/******************************************************************************
 * Fonts: Sans-serif
*******************************************************************************/
@mixin font-sans-text() {
    font-family: $sans-serif-text;
    font-weight: 400;
    @include font-normal();
}
@mixin font-sans-text-bold() {
    font-weight: 700;
}



/******************************************************************************
 * Fonts: Serif
*******************************************************************************/
@mixin font-serif-text() {
    font-family: $serif-text;
    font-weight: 400;
    @include font-normal();
}
@mixin font-serif-text-bold() {
    font-weight: 700;
}
@mixin font-serif-text-thin() {
    font-weight: 100;
}
@mixin font-serif-text-light() {
    font-weight: 300;
}



/******************************************************************************
 * Type
*******************************************************************************/
@mixin btn() {
    background: none;
    border: 0;
    cursor: pointer;
    display: inline-block;
    font-size: $btn-size;
    line-height: 1;
    outline: 0;
    padding: 0;
    text-transform: uppercase;
    -webkit-appearance: none;
    @include font-sans-text();
    @include font-sans-text-bold();
}
@mixin btn-style () {
    color: $white;
    transition: background-color $base-duration $ease;
}
@mixin btn-large () {
    background-color: $green-dark;
    padding: 20px;
}
@mixin btn-medium () {
    background-color: $black;
    padding: 16px;
}
@mixin btn-small () {
    background-color: $black;
    padding: 12px;
}
@mixin q() {
    font-size: $q-size;
    line-height: 1.1428571429;
    @include font-serif-text();
    font-style: italic;
}
@mixin m() {
    color: $grey;
    font-size: $m-size;
    line-height: 1.2;
    @include font-sans-text();
}
@mixin b() {
    font-weight: 700;
}
@mixin p() {
    font-size: $p-size;
    line-height: 1.5;
    max-width: $wrap-copy;
    @include font-serif-text();
}
@mixin pp() {
    margin-top: $expander-mobile / 2;
}
@mixin a() {
    color: $green-dark;
    display: inline;
    font-size: $p-size;
    line-height: 1.5;
    text-decoration: none;
    @include font-serif-text();
}
@mixin li() {
    padding-left: 20px;
    @include p();
}
@mixin ol-li() {
    list-style: decimal;
}
@mixin ul-li() {
    list-style: disc;
}
@mixin h1() {
    font-size: $h1-size;
    line-height: 1;
    @include font-sans-text();
}
@mixin h2() {
    font-size: $h2-size;
    line-height: 1.1428571429;
    @include font-sans-text();
}
@mixin h3() {
    font-size: $h3-size;
    line-height: 1.5;
    @include font-sans-text();
    @include font-sans-text-bold();
}
@mixin ghost {
    font-size: 0;

    &:before {
        content: "";
        display: inline-block;
        height: 100%;
        margin-left: -1px;
        vertical-align: middle;
        width: 1px;
        }
}
@mixin ghost-child {
    display: inline-block;
    vertical-align: middle;
}
@mixin cap-pad {
    padding-left: $expander-mobile;
    padding-right: $expander-mobile;
    padding-top: $expander-mobile / 2;
}
@mixin cap-pad-small {
    padding-left: $expander-mobile / 2;
    padding-right: $expander-mobile / 2;
}
@mixin wrap-copy {
    display: inline-block;
    max-width: $wrap-copy;
    width: 100%;
}
@mixin wrap-quote {
    display: inline-block;
    max-width: $wrap-quote;
    width: 100%;
}
@mixin wrap-mobile {
    padding-left: $expander-mobile;
    padding-right: $expander-mobile;
}
@mixin wrap-media {
    padding-left: $expander-two;
    padding-right: $expander-two;
}
@mixin wrap-media-mobile {
    padding-left: 0;
    padding-right: 0;
}
