@media screen and ( max-width: $break-laptop-medium ) {
    .-wrap {
        padding-left: $expander-mobile;
        padding-right: $expander-mobile;
        }
    .-wrap-l {
        padding-left: $expander-mobile;
        }
    .-wrap-r {
        padding-right: $expander-mobile;
        }
    .-wrap-t {
        padding-top: $expander-mobile;
        }
    .-wrap-b {
        padding-bottom: $expander-mobile;
        }
    .-wrap-media {
        padding-left: $expander-one;
        padding-right: $expander-one;
        }
    .-p {
        font-size: $p-size-small;
        }

    .absolute-cart-box {
        left: $expander-mobile;
    }
}



@media screen and ( max-width: $wrap-copy + $expander-one + $expander-one ) {
    .-wrap-media {
        @include wrap-media-mobile();
        }
}



@media screen and ( max-width: $wrap-copy + $expander-one ) {
    .-wrap-copy {
        max-width: 100%;
        }
    .-wrap-mobile {
        @include wrap-mobile();
        }
    #sqs-cart-root {
        .sqs-fullpage-shopping-cart {
            @include wrap-mobile();
            }
    }
}



@media screen and ( max-width: $break-tablet-medium ) {
    .gridwall {
        padding-left: $expander-mobile;
        padding-right: $expander-mobile;
        }
    .gridwall__item {
        width: 50%;
        }
}



@media screen and ( max-width: $break-tablet-small ) {
    .product__col:first-child {
        width: 100%;
        }
    .product__col:last-child {
        padding-left: 0;
        padding-top: $expander-mobile;
        width: 100%;
        }
}



@media screen and ( max-width: $break-mobile-full ) {
    .h1 {
        font-size: $h2-size;
        }
    .-exp {
        padding-top: $expander-one;
        padding-bottom: $expander-one;
        }
    .cms,
    .-exp-2 {
        padding-top: $expander-mobile;
        padding-bottom: $expander-mobile;
        }
    .header {
        padding-left: $expander-mobile / 2;
        padding-right: $expander-mobile / 2;
        }
    .navi {
        background-color: $black;
        overflow-x: hidden;
        overflow-y: scroll;
        padding-top: 54px;
        height: 100%;
        text-align: left;
        transform: translate3d( 100%, 0, 0 );
        width: $navi-width;
        -webkit-overflow-scrolling: touch;
        }
    // .navi__sub {
    //     height: auto !important;
    //     }
    .navi__index {
        position: relative;

        &:before,
        &:after {
            content: "";
            left: #{"~\"calc( 100% + 12px )\""};
            position: absolute;
            top: 50%;
        }

        &:before {
            background-color: $white;
            height: 10px;
            width: 2px;
            transform: translateY( -50% );
        }

        &:after {
            background-color: $white;
            height: 2px;
            width: 10px;
            transform: translateY( -50% ) translateX( #{"~\"calc( -50% + 1px )\""} );
        }

        &.is-active {
            &:before {
                display: none;
            }
        }
    }
    .navi__a,
    .navi__sub__a {
        color: $white;
        }
    .navi__sub__a {
        padding-left: $expander-mobile / 2 - 5;
        }
    .navi-controller {
        pointer-events: auto;
        visibility: visible;
        }
    .figure__cap {
        @include cap-pad-small();
        }
    .cover--banner {
        height: 50vh;
        }
    .cover__blocks {
        .sqs-block-image {
            .image {
                max-width: 100%;
                }
        }
    }
    .tile + .tile {
        margin-top: $expander-mobile;
        }
    .gridwall {
        padding-left: 0;
        padding-right: 0;
        }
    .gridwall__item {
        display: block;
        width: 100%;
        }
    .gridwall__block {
        padding-left: $expander-mobile;
        padding-right: $expander-mobile;
        }
    .tabs__label {
        font-size: 10px;
        padding-left: 10px;
        padding-right: 10px;

        &:first-child {
            border-left: 0;
            }
        &:last-child {
            border-right: 0;
            }
    }

    .cover__content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}
