@media only screen and ( max-width: $break-laptop-medium ) {
    .-wrap {
        padding-left: $expander-mobile;
        padding-right: $expander-mobile;
        }
    .-wrap-l {
        padding-left: $expander-mobile;
        }
    .-wrap-r {
        padding-right: $expander-mobile;
        }
    .-wrap-t {
        padding-top: $expander-mobile;
        }
    .-wrap-b {
        padding-bottom: $expander-mobile;
        }
}



@media only screen and ( max-width: $break-mobile-full ) {
    .navi {
        background-color: $black;
        padding-top: 56px;
        height: 100%;
        text-align: left;
        transform: translate3d( 100%, 0, 0 );
        width: $navi-width;
        }
    .navi__a {
        color: $white;
        }
    .navi-controller {
        pointer-events: auto;
        visibility: visible;
        }
    .figure__cap {
        padding-left: $expander-mobile / 2;
        padding-right: $expander-mobile / 2;
        padding-top: $expander-mobile / 2;
        }
}
