/******************************************************************************
 * Document
*******************************************************************************/
.is-scrolling {
    pointer-events: none;
}

.is-scrolling-up {
}

.is-scrolling-down {
}

.is-cover {
    .navi__a {
        color: $white;
        }
    .header__logo svg {
        fill: $white;
        }
    .icon--list {
        div {
            background-color: $white;
            }
    }
}

.is-navi-open {
    overflow: hidden;

    body {
        overflow: hidden;
        }
    .navi {
        transform: translate3d( 0, 0, 0 );
        }
    .main,
    .header,
    .footer {
        transform: translate3d( -$navi-width, 0, 0 );
        }
}
