/******************************************************************************
 * Document
*******************************************************************************/
.is-scrolling {
    pointer-events: none;
}
.is-scrolling-up {}
.is-scrolling-down {}

.is-home {
    background-color: $black;
}

.is-location {
    .navi--main {
        display: none;
        }
}

.is-cover {
    .navi__a,
    .navi__sub__a {
        color: $white;

        &.is-active {
            color: $green-light;
            }
        }
    .header__logo svg {
        fill: $white;
        }
    .navi-controller {
        background-color: $white;

        .icon--list {
            div {
                background-color: $black;
                }
        }
    }
}

.is-navi-open {
    overflow: hidden;

    .navi-controller {
        .icon--list {
            div:nth-child( 1 ) {
                top: 0;
                transform: rotate( 45deg );
                }
            div:nth-child( 2 ) {
                display: none;
                }
            div:nth-child( 3 ) {
                top: 0;
                transform: rotate( -45deg );
                }
        }
    }
    .navi {
        transform: translate3d( 0, 0, 0 );
        }
    .page,
    .header,
    .footer {
        transform: translate3d( -$navi-width, 0, 0 );
        }
}

.is-hoverable {
    .navi__li:hover {
        .navi__sub {
            height: $navi-sub-height;
            }
    }
    .navi__a:hover,
    .navi__sub__a:hover {
        color: $green-light;
        }
    .header__logo:hover {
        svg {
            fill: $green-light;
            }
    }
    .btn--large:hover {
        background-color: $green-light;
        }
    .btn--small:hover,
    .btn--medium:hover {
        background-color: $dark;
        }
    .meta a:hover {
        border-bottom-color: $green-light;
        color: $green-light;
        }
    .tile__wrap:hover {
        .overlay {
            background-color: rgba( 39, 39, 39, 0.9 );
            }
        .btn--large {
            background-color: $green-light;
            }
    }
    .carousel__navi:hover {
        opacity: 1;
        }
}
